@model AlbumViewerModel
@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";

}
<h1>Album</h1>
<div id="imageBody">
   
</div>
@if (Model.HasThisAlbum)
{
    @Html.Partial("PartialAddPhoto", Model.PhotoModel)
}

@if (Model.HasThisAlbum)
{
    <script id="image-template" type="text/x-handlebars-template">

        <div class="imagine">
            <img src="/Photos/Download/{{id}}" height="40" />
            <p>{{description}}</p>
            <div class="photoActions">
                <a class="needConfirmation" href="/Profile/MakeProfilePicture?photoId={{id}}">Make this your profile picture</a>
                <a class="needConfirmation" href="/Profile/DeletePhoto?photoId={{id}}&albumId={{albumId}}">Delete this photo</a>
                <input type="text" class="description" />
                <button id="changeDescription{{id}}" data-photoid="{{id}}">Save</button>
            </div>

        </div>

    </script>
}
else
{
    <script id="image-template" type="text/x-handlebars-template">

        <div class="imagine">
            <img src="/Photos/Download/{{id}}" height="40" />
            <p>{{description}}</p>


        </div>

    </script>
}
<button id="imageGetter" data-album="@Model.Id">Load more images</button>
<script src="~/js/Image.js"></script>