@model EditUserModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h1>Edit</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDay" class="control-label"></label>
                <input type="date" asp-for="BirthDay" class="form-control" />
                <span asp-validation-for="BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">County</label>
                <select id="CountyId" class="form-control" asp-items="Model.Counties"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocalityId" class="control-label"></label>
                <select id="LocalityId" asp-for="LocalityId" class="form-control"></select>
                <span asp-validation-for="LocalityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexualIdentity" class="control-label"></label>
                <select asp-for="SexualIdentity" class="form-control">
                    <option value="feminin">Feminin</option>
                    <option value="masculin">Masculin</option>
                    <option value="nespecificat">Nespecificat</option>
                </select>
                <span asp-validation-for="SexualIdentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visibility" class="control-label"></label>
                <select asp-for="Visibility" class="form-control" >
                    <option value="public">Public</option>
                    <option value="friends">Friends Only</option>
                    <option value="private">Private</option>
                </select>
                <span asp-validation-for="Visibility" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Interests" class="control-label"></label>

                <select asp-for="Interests" id="interestSelect" multiple="multiple">
                </select>
                <span asp-validation-for="Interests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit" type="submit" value="Save" class="btn btn-primary needConfirmation" />
            </div>
        </form>
    </div>
</div>

<div>
    @foreach (var album in Model.Albume)
    {
        <div>
            <h6>@album.Name</h6>
            <a href="@Url.Action("Album","Profile",new {albumId=album.Id })">
                @if (album.CoverPhoto != -1)
                {
                    <img src="@Url.Action("Download", "Photos", new {id=album.CoverPhoto})" height="40" />
                }
                else
                {
                    <img src="~/images/genericAlbumCoverPhoto.jpg" height="40" />
                }
            </a>
        </div>

    }
    @Html.Partial("PartialAddAlbum", Model.AddAlbumModel)
</div>

<div>
    <a asp-action="Index">Back to Profile</a>
</div>

<script src="~/js/Localities.js"></script>
<script src="~/js/InterestSelect.js"></script>
