@{
    ViewData["Title"] = "Friend List";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h1>FriendList</h1>



<div id="friendBody">

</div>

<button id="friendGetter">Load more friends</button>

<script id="friend-template" type="text/x-handlebars-template">
    <div class="friendDiv">
        <p>{{name}}</p>
        <a href="/Profile/Profile?userId={{id}}">
            {{#if profilePhoto}}
            <img src="/Photos/Download/{{profilePhoto}}" height="100" />
            {{else}}
            <img src="/images/DefaultProfile.png" height="100" />
            {{/if}}
        </a>
    </div>
</script>
<script src="~/js/Friends.js"></script>