@{
    ViewData["Title"] = "Friendship Requests";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h1>FriendRequests</h1>


<div id="friendRequestBody">

</div>

<script id="friend-template" type="text/x-handlebars-template">
    <div class="friend">
        <p>{{name}}</p>
        <a href="/Profile/Profile?userId={{id}}">
            {{#if profilePhoto}}
            <img src="/Photos/Download/{{profilePhoto}}" height="100" />
            {{else}}
            <img src="/images/DefaultProfile.png" height="100" />
            {{/if}}
        </a>

        <a class="btn btn-primary" href="/Profile/Accept/{{id}}">Accept</a>
        <a class="btn btn-danger" href="/Profile/Refuse/{{id}}">Refuse</a>

    </div>

</script>
<script src="~/js/FriendRequest.js"></script>