
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@Html.ActionLink("Interese","Index","Interests")
@Html.ActionLink("Judete","Index","Counties")
@Html.ActionLink("Localitati","Index","Localities")
