@model LoginModel

@{
    ViewData["Title"] = "Login";
}
    <div class="container-fluid">
        <h2>Login</h2>
        <div class="row">
            @Html.Partial("Shared")
            <div class="col-sm-6">
                <small>Or <a href="@Url.Action("Register","Account")">Register</a> if you don't have an account</small>

                <div>
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Parola</label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        @if (Model.AreCredentialsInvalid)
                        {
                            <span class="text-danger">Email sau parola incorecte</span>
                        }

                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>