@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
    ViewData["Title"] = "Localities";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                County
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="localityBody">
       
    </tbody>
</table>

<script id="locality-template" type="text/x-handlebars-template">
    <tr>
        <td>
            {{name}}
        </td>
        <td>
            {{county}}
        </td>
        <td>
            <a href="/Localities/Edit/{{id}}">Edit</a> |
            <a class="needConfirmation" href="/Localities/Delete/{{id}}" >Delete</a>
        </td>

    </tr>

</script>
<script src="~/js/LocalityIndex.js"></script>