@model InterestDomainModel

@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
    ViewData["Title"] = "Interest Create";
}

<h1>Create</h1>

<h4>Interest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return checkForm(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input name="submit" type="submit" value="Create" class="btn btn-primary" />
            </div>
            <script src="~/js/onlyOnce.js"></script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


