@model IEnumerable<Interest>

@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="needConfirmation" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script id="index-template" type="text/x-handlebars-template">
    <tr>
        <td>{{name}}</td>
        <td>
            <a asp-action="Edit" asp-route-id="{{id}}">Edit</a> |
            <a class="needConfirmation" asp-action="Delete" asp-route-id="{{id}}">Delete</a>
        </td>

    </tr>

</script>
