@model IEnumerable<ASP.NET_Core_UI.Models.DomainModels.Interest>

@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="interestBody">
       
    </tbody>
</table>

<script id="interest-template" type="text/x-handlebars-template">
    <tr>
        <td>{{name}}</td>
        <td>
            <a href="/Interests/Edit/{{id}}">Edit</a> |
            <a class="needConfirmation" href="/Interests/Delete/{{id}}" ">Delete</a>
        </td>

    </tr>

</script>

<button id="interestGetter">Load more interests</button>
<script src="~/js/Interests.js"></script>