/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*https://coolors.co/faf3dd-c8d5b9-8fc0a9-68b0ab-696d7d for the color pcker2*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #faf3dd;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

header {
    background-color: #696d7d;
}
nav div a {
    background-color: #696d7d;
    border-radius: 10px;
    color: #faf3dd;
    padding: 1em;
    text-decoration: none;
}

    nav div a:focus, nav a:hover {
        background-color: #696d7d;
        text-decoration: none;
        color: #8fc0a9;
    }

.dropdownDiv {
    text-align: center;
    position: fixed;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: -17px;
    width: 50vw;
    z-index: 1;
}

.dropdownResult {
    text-align: center;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #696d7d;
}
dropdown *{
    margin-left:auto;
    margin-right:auto;
}
.main-header{
    position:sticky;
    z-index:1;
    top:0;
}
#login-register-links{
    margin-right:0;
    margin-left:auto;
}

#logo {
    margin-left: 0;
}
    #logo a, #logo a:focus, #logo a:hover {
        background-color: #696d7d;
    }

.input-dropdown{
    margin-left:auto;
    margin-right:auto;
}
#imagineLogin{
    margin-right:0;
    margin-left:auto;
}

#divImagineLogin{
    text-align:right;
}


.login, .register{
    text-align:center;
}

form, input, textarea {
    text-rendering: auto;
    /*font: 400 13.3333px Arial;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
    font-weight:400;
    font-size:13.3333px;
}

.myProfile{
    text-align:center;
    top:75px;
    position:sticky;
    margin-top:150px;
    /*display:inline-block*/;
}

.divImagineProfil{
    text-align:center;
    margin-bottom:100px;
}
.linkuriProfil{
    display:inline-block;
}
a.linkProfilPostare ,a.linkProfilPostare:hover{
    text-decoration: none;
    color: black;
}
a.linkProfilComment,a.linkProfilComment:hover{
    text-decoration:none;
    color:black;
}

.divProfilPostare{
    float:left;
}

.bodyPostare{
    float:none;
    display:block;
    margin-left:2vw;
}

.comentariiPostare{
    display:block;
    float:none;
    margin-left:4vw;
}

.profilComment{
}

.comment {
    display: block;
    float: none;
    border-color: #b9c6aa;
    border-radius: 5px;
    border-style: solid;
}

div.post {
    background-color: #c8d5b9;
    border-radius: 25px;
}
.btn-danger {
    background-color: #68b0ab;
    border-color: #68b0ab;
}

#divSelection{
    margin-left:20px;
    width:400px;
}

#butonAdaugarePoza {
    cursor: pointer;
    background-color: #c8d5b9;
    border-radius: 25px;
    font-size: large;
    padding: 5px;
    color: #696d7d;
}