/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*https://coolors.co/faf3dd-c8d5b9-8fc0a9-68b0ab-696d7d for the color pcker2*/
/*https://coolors.co/f7f0f5-8e7c89-63515e-5b5158-42323d*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f9fcfd;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    z-index: 9999;
    background-color: white;
}

header {
    background-color: #fff;
}

nav div a {
    border-radius: 0.25rem;
    color: #F7F0F5;
    padding: 1em;
    text-decoration: none;
}

    nav div a:focus, nav a:hover {
        text-decoration: none;
    }

.dropdownDiv {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 400px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    margin-top: -1px;
}

.dropdownResult {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;
}

dropdown * {
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    position: sticky;
    z-index: 9999;
    top: 0;
}

    .main-header nav {
        margin-bottom: 0 !important;
    }


#login-register-links {
    margin-right: 0;
    margin-left: auto;
}

    #login-register-links a {
        color: #fff;
        font-weight: 600;
        font-size: 13px;
        background: #ff3c55;
        padding: 7px 12px;
        position: relative;
        top: -2px;
    }

        #login-register-links a:hover {
            background: #da1b34;
        }

#logo {
    margin-left: 0;
}

    #logo img {
        height: 40px;
    }

.input-dropdown {
    margin-left: auto;
    margin-right: auto;
}

#imagineLogin {
    margin-right: 0;
    margin-left: auto;
}

#divImagineLogin {
    text-align: right;
}


.login, .register {
    text-align: center;
}

form, input, textarea {
    text-rendering: auto;
    /*font: 400 13.3333px Arial;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
    font-weight: 400;
    font-size: 13.3333px;
}

.myProfile {
    text-align: center;
}

    .myProfile .list-group {
        margin-bottom: 20px;
    }

        .myProfile .list-group a {
            padding: 0.5rem 1.25rem;
            font-size: 15px;
        }

.divImagineProfil {
    text-align: center;
    margin-bottom: 30px;
}

    .divImagineProfil p {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .divImagineProfil img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

.linkuriProfil {
    display: inline-block;
}



a.linkProfilPostare, a.linkProfilPostare:hover {
    text-decoration: none;
    color: black;
}

a.linkProfilComment, a.linkProfilComment:hover {
    text-decoration: none;
    color: black;
}

.linkProfilPostare img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.linkProfilPostare span {
    font-size: 14px;
    font-weight: 600;
    display: block;
    line-height: 20px;
    padding: 15px 0;
}

.contentPostare p {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 10px;
}

.contentPostare img {
    max-width: 600px;
    max-height: 600px;
}

.imagePostare {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ced4da;
    text-align: center;
}

.divProfilPostare {
    float: left;
}

.bodyPostare {
    float: none;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ced4da;
}



.comentariiPostare {
    display: block;
    float: none;
    margin-left: 4vw;
}

.profilComment {
}

.comment {
    display: block;
    float: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #f9fcfd;
    box-shadow: 0 0 5px 0 rgb(0,0,0, .2);
    padding: 5px 10px;
}

    .comment .imageUserComment {
        float: left;
        margin-right: 10px;
    }

        .comment .imageUserComment img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            object-fit: cover;
        }

    .comment .rightComment {
        float: left;
        width: calc(100% - 35px);
    }

        .comment .rightComment .linkProfilComment {
            font-size: 12px;
            font-weight: 600;
        }

            .comment .rightComment .linkProfilComment p {
                line-height: 25px;
                margin-bottom: 0px;
            }

        .comment .rightComment .commentText {
            font-size: 12px;
            text-align: justify;
            margin-bottom: 5px;
        }

        .comment .rightComment .btn {
            font-size: 12px;
            padding: 3px 7px;
        }

div.post {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ced4da;
}

.btn-danger {
    background-color: #ff3c55;
    border-color: #ff3c55;
    color: white !important;
}

    .btn-danger:hover, .btn-danger:focus {
        background: #da1b34;
        border-color: #da1b34;
    }

#divSelection {
    margin-left: 20px;
    width: 400px;
    position: relative;
}

#butonAdaugarePoza {
    cursor: pointer;
    background: #a6b6bd;
    font-size: 14px;
    padding: 7px 12px;
    color: #ffffff;
    border-radius: 0.25rem;
}

    #butonAdaugarePoza:hover, #butonAdaugarePoza:focus {
        background: #aeaeaf;
    }

.dropdownItem, .dropdownItem:hover, .dropdownItem:focus {
    text-align: left;
    text-decoration: none;
    color: black;
}

.dropdownItem {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

    .dropdownItem p {
        font-size: 12px;
        font-weight: 600;
        color: #000;
        flex: 1;
        margin-bottom: 0;
        padding-left: 10px;
    }

    .dropdownItem img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
    }

.dropdownResult > a {
    display: block;
    border-radius: 0;
    padding: 7px 10px;
}

    .dropdownResult > a:hover {
        background: #f5f5f5;
    }

.btn-primary {
    background-color: #48c6ff;
    border-color: #48c6ff;
    color: white !important;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
        background-color: #22b5f7 !important;
        border-color: #22b5f7 !important;
    }

        .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:active:focus {
            box-shadow: #48c6ff 0px 0px inset !important;
        }

.addComment {
    margin-bottom: 10px;
}

#friendBody {
    border-radius: 25px;
}

#friendRequestBody {
    border-radius: 25px;
}

.reactionCounter {
    font-size: 13px;
    font-weight: 600;
    display: inline;
    margin-left: 20px;
}

.reaction {
    background: #eaf1f9;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.25rem;
}

.like {
    clear: none;
    margin-left: 15px;
}

.friendDiv, .friend {
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-top-color: #dee2e6;
    border-top-width: 1px;
    border-top-style: solid;
    display: block;
    padding: 10px;
}

    .friendDiv a, .friendDiv a:hover, .friendDiv a:focus, .friend a, .friend a:hover, .friend a:focus {
        text-decoration: none;
        color: black;
    }


.post .imgPostare {
    max-width: 500px;
}

.albumPreview {
    width: 40px;
}

#imgPreview {
    max-width: 200px;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: calc(100% - 57px);
    top: 57px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    padding: 30px 20px;
    z-index: 10;
}

.right-content {
    padding: 30px 0 30px 280px;
}

#friendBody img, #friendRequestBody img {
    border-radius: 50%;
}

/*div.albumEdit {
    padding: 10px;
    border-top: #dee2e6 solid 1px;
    margin-bottom: 10px;
}


    div.albumEdit img {
        max-width: 600px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 100px;
    }

    div.albumEdit p {
        margin-bottom: 30px;
    }

    div.albumEdit h6 {
        font-size: 20px;
    }*/

.imagine {
    border-top: solid 1px #dee2e6;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bodyImagine img {
    max-height: 100px;
    min-height: 50px;
    min-height: 50px;
}

.bodyImagine p {
    font-size: 16px;
    font-weight: 500;
}

.profilProfil {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}

    .profilProfil img {
        max-width: 250px;
        max-height: 250px;
    }

.albumProfilPreview {
    padding-left: 5px;
    padding-right: 5px;
    border: #dee2e6 solid 1px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.albumPreview {
    max-width: 150px;
    max-height: 150px;
}

.profileInfo {
    border: #dee2e6 solid 1px;
    padding-top: 15px;
    padding-left: 0;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-right: 0;
}

.infoTabs {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: white;
}

.commentBody {
    max-height: 500px;
    overflow: auto
}

.postAdd {
    background-color: white;
    border: #ced4da solid 1px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 4px;
}

    .postAdd select {
        width: 50%;
        font-weight: 600;
    }

    .postAdd option {
        font-weight: 600;
    }

.profileInfo {
    background: white;
}

#albumsDiv {
    background: white;
}

#interestsDiv {
    background: white;
}

#contactDiv {
    background: white;
}

.poze {
    height: 120px;
    position: relative;
}

    .poze a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

        .poze a img {
            object-fit: cover;
            display: block;
            max-width: none;
            max-height: none;
            width: 100%;
            height: 120px;
        }

.albumName {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.albumCounter {
    font-size: 12px;
}

.nav-link {
    color: #48c6ff;
}

.dropdown-menu li a {
    color: #48c6ff;
}

.dropdown-menu.show {
    padding-left: 5px;
    margin-top: 5px;
    display: block;
}

    .dropdown-menu.show li {
        width: 80px;
    }

.btn {
    border-radius: 0.25rem;
}

.buttonRemovePost {
    position: relative;
    right: -618px;
}
/*.buttonComment{
    position:relative;
    right:-100px;
}*/

.divPreviewPhoto {
    text-align: center;
}

.contactTable {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.friendDiv > a > img, .friend > a > img {
    display: inline;
    height: 50px;
    clear: none;
}

.friendDiv > a > p, .friend > a > p {
    display: inline;
}

div.albumProfilPreview.albumEdit {
    width: 400px;
}

    div.albumProfilPreview.albumEdit > a {
        position: relative;
        top: -50px;
        right: -258px;
    }

a {
    color: #48c6ff;
}
    a:hover, a:focus {
        color:#22b5f7;
        text-decoration:none;
    }