@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";

}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Not found</h2>
<h3 class="text-info">You will be redirected to the feed</h3>
<script src="~/js/RedirectToFeed.js"></script>