@model AlbumEditModel

<h1>Album</h1>
@foreach(var photoId in Model.Photos)
{
    <img src="@Url.Action("Download", "Photos", new {id=photoId})" />
    @Html.ActionLink("Delete this photo", "DeletePhoto", "Users", new { photoId = photoId,albumId=Model.Id },new {@class="needConfirmation" });
}