@model AlbumEditModel

<h1>Album</h1>
@foreach(var photoId in Model.Photos)
{
    <div class="divImagineAlbum">
        <img src="@Url.Action("Download", "Photos", new {id=photoId})" height="40"/>
    @Html.ActionLink("Delete this photo", "DeletePhoto", "Users", new { photoId = photoId,albumId=Model.Id },new {@class="needConfirmation" });
    </div>
}