@model PostAddModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "GeneralLayout";
}

<div class="formularPostare">@Html.Partial("PartialPostAdd", Model)</div>


<div id="postBody" class="containerPostari">
    
</div>


<button id="postGetter">Load more posts</button>

<script id="comment-template" type="text/x-handlebars-template">

    <div class="comment">
        <div class="profilComment">
            <a class="linkProfilComment" href="/Profile/Profile?userId={{userId}}">
                <p>{{userName}}</p>
                {{#if profilePhoto}}
                <img src="/Photos/Download/{{profilePhoto}}" height="50" style="float:left" />
                {{else}}
                <img src="~/images/DefaultProfile.png" height="50" style="float:left" />
                {{/if}}
            </a>

        </div>
        <p>{{text}}</p>
        {{#if isMine}}
        <button id="deleteComment{{id}}" class="btn buttonDeleteComment btn-danger btn-sm" data-comment="{{id}}">Delete this comment</button>
        {{/if}}
    </div>
    <br />

</script>


<script id="post-template" type="text/x-handlebars-template">
    <div class="post">
        <div class="bodyPostare">
            <a class="linkProfilPostare" href="/Profile/Profile/{{userId}}">
                <span>{{userName}}</span>
                <br />
                {{#if profilePhoto}}
                <img class="pozaProfilPostare" src="/Photos/Download/{{profilePhoto}}" height="75" />
                {{else}}
                <img class="pozaProfilPostare" src="images/DefaultProfile.png" height="75" />
                {{/if}}

            </a>
        </div>
        <br />
        <br />
        <p>{{text}}</p>
        <br />
        {{#each photoId}}
        <img src="/Photos/Download/{{this}}" height="50" />
        <br />
        {{/each}}
        <br />
        <div id="commentBody{{id}}">

        </div>
        <button id="commentGetter{{id}}" data-post="{{id}}">Load more comments</button>

        <a id="like{{id}}"  data-post="{{id}}">
            {{#if liked}}
            <img src="images/Liked.png" height="20" />
            {{else}}
            <img src="images/notLiked.png" height="20" />
            {{/if}}
        </a>
        <p class="reactionCounter">{{noReactions}}</p>
        <input type="text" class="addComment form-control" />
        <button id="commentAdd{{id}}" class="btn buttonComment " data-post="{{id}}">Comment</button>
    </div>

</script>
<script src="~/js/feed.js"></script>
