@model PostAddModel

@if (currentUser.IsAuthenticated)
{
    <div class="postAdd">
        <form enctype="multipart/form-data" method="post" asp-controller="Feed" asp-action="AddPost" onsubmit="return checkForm(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <h6><label asp-for="Text" class="control-label"></label></h6>
                <textarea asp-for="Text" class="form-control" placeholder="What's on your mind?"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="divPreviewPhoto">
                            <img src="#" id="imgPreview" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label asp-for="Binar" id="butonAdaugarePoza">Add a photo</label>
                        <input type="file" asp-for="Binar" class="form-control" hidden />

                        <span asp-validation-for="Binar" class="text-danger"></span>
                    </div>
                    <div class="col-md-3" id="divButtonDeletePhoto">

                    </div>

                    <div class="form-group col-md-5">
                        <h6><label asp-for="Visibility" class="control-label"></label></h6>
                        <select asp-for="Visibility" class="form-control">
                            <option value="friends">Friends Only</option>
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                        </select>

                        <span asp-validation-for="Visibility" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <input name="submit" type="submit" value="Create" class="btn btn-primary" />
                    </div>

                    <script src="~/js/onlyOnce.js"></script>



                </div>
            </div>
        </form>
    </div>
}

